:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*elementos base*/
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 32px;
}

header nav a{
    text-decoration: none;
    color:#FFF;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.3s;
    justify-content: space-between;
}

header nav a:hover{
    color: #AAA;
}

#menu-direito{
    position: absolute;
    right: 50px;
    top: 15px;
}

#icon-perfil {
    width: 30px;
    margin-left: 5px;
    border-radius: 25%;
    position: absolute;
    right: 10px;
    top: 10px;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/Kevin-Hart.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: bold;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    font-weight: bold;
    background-color: rgba(150,150,150,.50);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.3s;
    cursor: pointer;
}

.box-filme:hover{
    transform: scale(1.1);
}

.carrosel-filmes{
    margin-top: 5px;
}